---
//src/components/top/Hero.astro
import HeroTextSwiper from './HeroTextSwiper.jsx';
---
<section class="hero" id="hero" aria-labelledby="hero-heading">
  <div class="container">
    <div class="hero-ttl fadeInTrigger" id="hero-ttl">
      <h1>想いを響かせ、<br>
        未来を創る</h1>
    </div>
  </div>
  <HeroTextSwiper client:load />
</section>
