@use "../variables" as v;
/*****************/
/*** challenges***/
/*****************/
@media screen and (min-width: 769px) {
    #top {
        .challenges {
            margin-top: 100vh;
            background-color: v.$color-primary;
            position: relative;
            overflow: hidden;
            padding-top: 45px;
            padding-bottom: 130px;

            &-bg {
                position: absolute;
                top: 0;
                left: 50%;
                width: 2000px;
                transform: translateX(-50%);
                img{
                    width: 2000px;
                    max-width: none;
                }
            }

            &-ttl {
                margin: 0 auto;
                text-align: center;
                position: relative;
                font-size: 4.8rem;
                font-weight: bold;
                color: rgba(195, 206, 224, .3);
                width: 500px;

                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 50%;
                    width: 1000px;
                    left: 0;
                    transform: translate(-100%, -50%);
                    height: 22px;
                    background-color: rgba(195, 206, 224, .3);
                }

                &:after {
                    content: "";
                    width: 1000px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(100%, -50%);
                    height: 22px;
                    background-color: rgba(195, 206, 224, .3);
                }
            }

            .container {
                position: relative;
                margin-top: 66px;
            }

            &-sub {
                font-weight: 600;
                font-size: 1.6rem;
                text-align: center;
            }

            &-list {
                margin: 50px auto 0;
                width: 660px;

                &__item {
                    background-color: white;
                    transform: skew(-20deg);
                    height: 48px;
                    margin-bottom: 36px;

                    p {
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: v.$color-secondary;
                        line-height: 48px;
                        text-align: center;
                        transform: skew(20deg);

                        br {
                            display: none;
                        }
                    }
                }
            }

            &-catch {
                margin-top: 208px;
                font-size: 4.8rem;
                font-weight: bold;
                color: white;
                line-height: 1.6;
                text-align: center;
            }

            &-cta {
                margin: 100px auto 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #top {
        .challenges {
            margin-top: 100vh;
            background-color: v.$color-primary;
            position: relative;
            overflow: hidden;
            padding-top: 45px;
            padding-bottom: 130px;

            &-bg {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                img{
                    max-width: none;
                }
            }

            &-ttl {
                margin: 0 auto;
                text-align: center;
                position: relative;
                font-size: 2rem;
                font-weight: bold;
                color: rgba(195, 206, 224, .3);
                width: 220px;

                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 50%;
                    width: 1000px;
                    left: 0;
                    transform: translate(-100%, -50%);
                    height: 6px;
                    background-color: rgba(195, 206, 224, .3);
                }

                &:after {
                    content: "";
                    width: 1000px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(100%, -50%);
                    height: 6px;
                    background-color: rgba(195, 206, 224, .3);
                }
            }

            .container {
                position: relative;
                margin-top: 34px;
                padding-left: 15px;
                padding-right: 15px;
            }

            &-sub {
                font-weight: 600;
                font-size: 1.4rem;
                text-align: center;
            }

            &-list {
                margin: 28px auto 0;
                max-width: 660px;

                &__item {
                    background-color: white;
                    transform: skew(-20deg);
                    margin-right: 3.5%;
                    margin-left: 3.5%;
                    margin-bottom: 33px;
                    padding: 10px 25px;

                    p {
                        line-height: 1.5;
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: v.$color-secondary;
                        transform: skew(20deg);
                    }
                }
            }

            &-catch {
                margin-top: 120px;
                font-size: 3.2rem;
                font-weight: bold;
                color: white;
                line-height: 1.6;
                text-align: center;
            }

            &-cta {
                margin: 60px auto 0;
            }
        }
    }
}