@use "./variables" as v;
@media screen and (min-width: 769px) {
    .work-archive {
        background-color: v.$color-primary;
        content-visibility: auto;
        contain-intrinsic-size: 1px 1200px;

        &-section {

            position: relative;

            &.music {
                .container {
                    border-top: 1px solid white;
                }
            }

            .container {
                padding-top: 70px;
                padding-bottom: 70px;
                position: relative;
            }
        }

        &-wrapper {
            position: relative;
            overflow: hidden;
        }



        &-ttl {
            border-left: 5px solid v.$color-accent;
            display: inline-block;
            padding: 10px 15px;

            p {
                font-size: 3rem;
                font-weight: bold;
            }
        }

        &-list {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            min-height: 651px;

            &.music {
                min-height: 326px;
            }
        }

        &-item {
            width: 32%;
            margin-left: 1%;
            margin-bottom: 50px;

            &__thumb {
                img {
                    width: 100%;
                }

                .visually-hidden {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    white-space: nowrap;
                    border: 0;
                }
            }

            &__cat {
                display: flex;
                margin-top: 15px;

                small {
                    font-size: 1.6rem;
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    color: white;
                    background-color: v.$color-accent;
                    padding: 5px 10px;
                    transform: skew(-22.5deg);
                    position: relative;

                    &:before {
                        position: absolute;
                        content: "×";
                        margin-right: 15px;
                        display: inline-block;
                        top: 50%;
                        left: -18px;
                        transform: translateY(-50%);
                    }


                    &:first-child {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            &__ttl {
                margin-top: 20px;
                font-size: 2rem;
                color: white;
                white-space: nowrap;
                /* 改行させない */
                overflow: hidden;
                /* はみ出た部分を隠す */
                text-overflow: ellipsis;
                /* 「…」で省略表示 */
            }
        }

        &-cta {
            margin-top: 100px;
        }
    }
}

@media screen and (max-width: 768px) {
    .work-archive {
        background-color: v.$color-primary;
        content-visibility: auto;
        contain-intrinsic-size: 1px 1200px;

        &-section {
            position: relative;

            &.music {
                .container {
                    padding-top: 0;
                }
            }

            .container {
                padding-top: 40px;
                padding-bottom: 40px;
                position: relative;
            }
        }

        &-ttl {
            border-left: 5px solid v.$color-accent;
            display: inline-block;
            padding: 10px 15px;

            p {
                font-size: 2rem;
                font-weight: bold;
            }
        }

        &-list {
            margin: 30px auto 0;
            max-width: 400px;
            min-height: 1271px;

            &.music {
                min-height: 946px;
            }
        }

        &-item {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid white;

            &__thumb {
                img {
                    width: 100%;
                }

                .visually-hidden {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    white-space: nowrap;
                    border: 0;
                }
            }

            &__cat {
                display: flex;
                margin-top: 15px;
                margin-left: 2%;

                small {
                    font-size: 1.4rem;
                    margin-right: 22px;
                    display: flex;
                    align-items: center;
                    color: white;
                    background-color: v.$color-accent;
                    padding: 5px 5px;
                    transform: skew(-22.5deg);
                    position: relative;

                    &:before {
                        position: absolute;
                        content: "×";
                        margin-right: 15px;
                        display: inline-block;
                        top: 50%;
                        left: -15px;
                        transform: translateY(-50%);
                    }


                    &:first-child {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            &__ttl {
                margin-top: 15px;
                font-size: 1.6rem;
                color: white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &-cta {
            margin-top: 70px;
        }
    }
}